.row-fluid {
	width: 100%;
	*zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.row-fluid:after {
	clear: both;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846383%;
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 2.127659574%;
}
.row-fluid .span12 {
	width: 99.99999999%;
	*width: 99.946808500638%;
}
.row-fluid .span11 {
	width: 91.489361693%;
	*width: 91.436170203638%;
}
.row-fluid .span10 {
	width: 82.978723396%;
	*width: 82.925531906638%;
}
.row-fluid .span9 {
	width: 74.468085099%;
	*width: 74.414893609638%;
}
.row-fluid .span8 {
	width: 65.957446802%;
	*width: 65.904255312638%;
}
.row-fluid .span7 {
	width: 57.446808505%;
	*width: 57.393617015638%;
}
.row-fluid .span6 {
	width: 48.936170208%;
	*width: 48.882978718638%;
}
.row-fluid .span5 {
	width: 40.425531911%;
	*width: 40.372340421638%;
}
.row-fluid .span4 {
	width: 31.914893614%;
	*width: 31.861702124638%;
}
.row-fluid .span3 {
	width: 23.404255317%;
	*width: 23.351063827638%;
}
.row-fluid .span2 {
	width: 14.89361702%;
	*width: 14.840425530638%;
}
.row-fluid .span1 {
	width: 6.382978723%;
	*width: 6.3297872336383%;
}
.row-fluid .offset12 {
	margin-left: 104.255319138%;
	*margin-left: 104.14893615928%;
}
.row-fluid .offset12:first-child {
	margin-left: 102.127659564%;
	*margin-left: 102.02127658528%;
}
.row-fluid .offset11 {
	margin-left: 95.744680841%;
	*margin-left: 95.638297862277%;
}
.row-fluid .offset11:first-child {
	margin-left: 93.617021267%;
	*margin-left: 93.510638288277%;
}
.row-fluid .offset10 {
	margin-left: 87.234042544%;
	*margin-left: 87.127659565277%;
}
.row-fluid .offset10:first-child {
	margin-left: 85.10638297%;
	*margin-left: 84.999999991277%;
}
.row-fluid .offset9 {
	margin-left: 78.723404247%;
	*margin-left: 78.617021268277%;
}
.row-fluid .offset9:first-child {
	margin-left: 76.595744673%;
	*margin-left: 76.489361694277%;
}
.row-fluid .offset8 {
	margin-left: 70.21276595%;
	*margin-left: 70.106382971277%;
}
.row-fluid .offset8:first-child {
	margin-left: 68.085106376%;
	*margin-left: 67.978723397277%;
}
.row-fluid .offset7 {
	margin-left: 61.702127653%;
	*margin-left: 61.595744674277%;
}
.row-fluid .offset7:first-child {
	margin-left: 59.574468079%;
	*margin-left: 59.468085100277%;
}
.row-fluid .offset6 {
	margin-left: 53.191489356%;
	*margin-left: 53.085106377277%;
}
.row-fluid .offset6:first-child {
	margin-left: 51.063829782%;
	*margin-left: 50.957446803277%;
}
.row-fluid .offset5 {
	margin-left: 44.680851059%;
	*margin-left: 44.574468080277%;
}
.row-fluid .offset5:first-child {
	margin-left: 42.553191485%;
	*margin-left: 42.446808506277%;
}
.row-fluid .offset4 {
	margin-left: 36.170212762%;
	*margin-left: 36.063829783277%;
}
.row-fluid .offset4:first-child {
	margin-left: 34.042553188%;
	*margin-left: 33.936170209277%;
}
.row-fluid .offset3 {
	margin-left: 27.659574465%;
	*margin-left: 27.553191486277%;
}
.row-fluid .offset3:first-child {
	margin-left: 25.531914891%;
	*margin-left: 25.425531912277%;
}
.row-fluid .offset2 {
	margin-left: 19.148936168%;
	*margin-left: 19.042553189277%;
}
.row-fluid .offset2:first-child {
	margin-left: 17.021276594%;
	*margin-left: 16.914893615277%;
}
.row-fluid .offset1 {
	margin-left: 10.638297871%;
	*margin-left: 10.531914892277%;
}
.row-fluid .offset1:first-child {
	margin-left: 8.510638297%;
	*margin-left: 8.4042553182766%;
}
.mjcart_edit .btn-toolbar {
    font-size: 0;
    margin-bottom: 9px;
    margin-top: 9px;
}
.mjcart_edit .btn-group + .btn-group {
    margin-left: 5px;
}
.mjcart_edit .btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.mjcart_edit legend
{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
border-image: none;
border-style: none none solid;
border-width: 0 0 1px;
color: #333333;
display: block;
font-size: 19.5px;
line-height: 36px;
margin-bottom: 18px;
padding: 0;
width: 100%;
}
.mjcart_edit hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee -moz-use-text-color #ffffff;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
.mjcart_edit hr.hr-condensed {
    margin: 10px 0;
}

.mjcart_edit .label {
    border-radius: 3px;
}
.mjcart_edit .label, .mjcart_edit .badge {
    background-color: #999999;
    color: #ffffff;
    display: inline-block;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
	font-weight:normal;
}
.mjcart_edit fieldset {
    margin: 0;
    padding: 0;
}

.mjcart_edit .control-group {
	margin-bottom: 9px;
}
.mjcart_edit header + .control-group {
	margin-top: 18px;
	-webkit-margin-top-collapse: separate;
}
.mjcart_edit .form-horizontal .control-group {
	margin-bottom: 18px;
	*zoom: 1;
}
.mjcart_edit .form-horizontal .control-group:before,
.mjcart_edit .form-horizontal .control-group:after {
	display: table;
	content: "";
	line-height: 0;
}
.mjcart_edit .form-horizontal .control-group:after {
	clear: both;
}
.mjcart_edit .form-horizontal .control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}

.mjcart_edit .form-horizontal .controls {
	display: inline-block;
	padding-left: 20px;
	margin-left: 180px;
	margin-left: 0;
}
.mjcart_edit .form-horizontal .controls:first-child {
	padding-left: 180px;
}
.mjcart_edit .form-horizontal .help-block {
	margin-bottom: 0;
}
.mjcart_edit .form-horizontal input + .help-block,
.mjcart_edit .form-horizontal select + .help-block,
.mjcart_edit .form-horizontal textarea + .help-block,
.mjcart_edit .form-horizontal .uneditable-input + .help-block,
.mjcart_edit .form-horizontal .input-prepend + .help-block,
.mjcart_edit .form-horizontal .input-append + .help-block {
	margin-top: 9px;
}
.mjcart_edit .form-horizontal .form-actions {
	padding-left: 180px;
}
.mjcart_edit .control-label .hasTooltip {
	display: inline-block!important;
}
.mjcart_edit .controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 5px;
}
.mjcart_edit fieldset.radio.btn-group {
    padding-left: 0;
}

.mjcart_edit label
{
	font-size:13px;
}

.mjcart_edit input[type="radio"] {
    margin: 0 5px;
	float:none;
}
.mjcart_edit .chzn-container {
    min-width: 220px;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
.sky-form [class^="icon-"], .ui-datepicker [class^="icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.icon-calendar:before {
	content: "\f073";
}
.icon-edit:before {
  content: "\f044";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-remove:before {
  content: "\f00d";
}
.sky-form header {
    border-bottom: 1px solid #e3e3e3;
    color: #272727;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 13px;
    padding: 0 0 9px;
    text-transform: uppercase;
}

/**** accordion ****/
.accordion {
	margin-bottom: 18px;
}
.accordion-group {
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.accordion-heading {
	border-bottom: 0;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}
.accordion-toggle {
	cursor: pointer;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
}
.accordion-body.in:hover {
	overflow: visible;
}
.accordion-group {
	background: #fff;
}


